* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-width: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
}

.form-section {
    background-color: rgb(250, 250, 250);
}

.describtion {
    margin: 100px 80px 20px 40px;
    max-width: 70%;
    font-size: 1.3rem;
    font-weight: bold;
}

.describtion+p {
    margin-left: 40px;
    font-size: 1.3rem;
    font-weight: bold;
}

.form-container {
    margin-left: 50px;
}

.form-header {
    margin-bottom: 20px;
}

.form-style {
    background-color: white;
    padding: 20px 20px 20px 40px;
    margin: 40px 0 0 -50px;
}

.form-inputs {
    display: flex;
    gap: 70px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

form input {
    border: 1.5px solid #E5E7EB;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 1.4rem;
    transition: all 0.2s;
}

form input:focus {
    outline: none;
    border: 1.5px solid rgb(130, 130, 250);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.submitButton {
    padding: 15px 50px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid #596D48;
    font-size: 1.08rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    cursor: pointer;
    transition: all 0.2s;
}

.submitButton:hover {
    color: #596D48;
    background-color: white;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2.5px 2px;
}

.log-in-text {
    margin: 35px 0 0 40px;
}

.log-in-link {
    text-decoration: none;
    font-weight: bold;
    color: darkgreen;
}

.error {
    border: 1.5px solid red;
    transition: all 0.5s;
}

.match-error {
    font-size: 11px;
    color: red;
    transition: all 0.3s;
    opacity: 0;
}

.logo-section {
    min-width: 600px;
    height: 100vh;
}

.bgPicture {
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    min-width: 600px;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);

}

.odin-text {
    color: white;
    font-size: 6rem;
    font-family: "norse";
}

.logo-pic {
    width: 100px;
}

@font-face {
    font-family: "norse";
    src: url(./fonts/Norse-Bold.otf);
}